.AvailableBalance{
    border: solid 1px #DCDEE5;
    height: 80px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0 20px;
    gap: 20px;
}

.AvailableBalance img{
    
}

.AvailableBalance .txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap:  6px;
}

.AvailableBalance .txt .amount{
    font-family: 'lora', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.AvailableBalance .txt .sub_txt{
    font-weight: 400;
    font-size: 14px;
    color: #7C859D;
}



@media screen and (max-width: 700px) {
    .AvailableBalance{
        height: 70px;
        gap: 20px;
    }

    .AvailableBalance img{
        width: 30px; 
        height: 30px;
    }

    .AvailableBalance .txt{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        row-gap:  4px;
    }

    .AvailableBalance .txt .amount{
        font-size: 18px;
    }
    
    .AvailableBalance .txt .sub_txt{
        font-size: 13px;
    }
}