.DynamicHistoryCrd{
    width: 100%;
    /* background-color: white; */
    /* border-radius: 5px; */
    height: 80px;
    box-shadow: 0 .4px 0px 0px rgba(174, 174, 174, 0.467);
    /* border-bottom: solid .5px rgba(174, 174, 174, 0.467); */
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap:7px;
    /* border: solid 1px; */
    padding: 20px 0;
}


.DynamicHistoryCrd .sect1{
    width: 100%;
    /* border: solid; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.DynamicHistoryCrd .sect1 p{
   display: flex;
   align-items: center;
   justify-content: center;
   /* border: solid 1px ; */
}

.DynamicHistoryCrd .sect1 p.source{
    font-weight: 600;
    font-size: 15px;
}

.DynamicHistoryCrd .sect1 p.amount{
    font-weight: 600;
    font-size: 15px;
    gap: 5px;
}

.DynamicHistoryCrd .sect1 p.amount i{
    font-size: 15px;
}

.DynamicHistoryCrd .sect1 p.dateTime{
    font-weight: 400;
    font-size: 12px;
}

.DynamicHistoryCrd .sect1 p.status{
    font-weight: 400;
    font-size: 11px;
    text-transform: capitalize;
}

.DynamicHistoryCrd .credit{
    color: green;
    background-color: #EDFCEE;
  }
  
  .DynamicHistoryCrd .debit{
    color: #F02864;
    background-color: #FDD8DF;
  }

  .DynamicHistoryCrd .status{
    border-radius: 10px;
    padding: 1.5px 10px;
  }
  
  .DynamicHistoryCrd .pending{
    color: #7C859D;
    background-color: #DCDEE5;
  }
  
  .DynamicHistoryCrd .canceled{
    color: #890620;
    background-color: #FDD8DF;
  }
  
  .DynamicHistoryCrd .completed{
    color: #2F67FA;
    background-color: #EBF0FF;
  }


