.LoadingSuccesModal{
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 3000;
    /* background-color: ; */
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    /* background-color: blue; */
    top: 0;
    left: 0;
}

.LoadingSuccesModal .mode{
    height: 400px;
    width: 450px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.LoadingSuccesModal .mode .div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    row-gap: 15px;
}


.LoadingSuccesModal .mode .div p{ 
    color: #373D4A;
}

.LoadingSuccesModal .mode .div .t1{ 
   font-size: 17px;
   font-weight: 700;
   margin-top: 10px;
}

.LoadingSuccesModal .mode .div .t2{ 
    font-size: 14px;
    /* font-weight: 700; */
    /* margin-top: 10px; */
 }
 
.LoadingSuccesModal .mode .lod{
    /* border: solid; */
}

.LoadingSuccesModal .mode .success{
    /* border: solid; */
    display: none;
}